$boxbg: #333;
$boxborder: #ccc;
$boxshadow: #0a0;
$linkbg: #555;

a,
a:visited {
  color: #fff;
  transition: color 200ms ease;
}

a:hover,
a:active,
a:focus {
  color: #0a0;
  transition: color 200ms ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box {
  position: absolute;
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
  border: 5px solid $boxborder;
  border-radius: 10px;
  background: $boxbg;
  opacity: 0;
  animation: animIn 2s 250ms ease forwards;
  transition: transform 100ms ease-out;
  box-shadow:
    0 0 20px rgba($boxshadow, $alpha: 0.6),
    0 0 40px rgba($boxshadow, $alpha: 0.4);

  img.avt {
    width: 256px;
    height: 256px;
    border-radius: 25px;
    outline: 5px solid #80848e;
  }
}

#names {
  .name {
    font-weight: bold;
    font-size: 30px;

    .fox {
      position: relative;
      width: 35px;
      height: 35px;
      vertical-align: text-top;
      top: 2px;
    }
  }

  .username {
    font-size: 20px;
  }
}

.link-list,
.page-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0 5px;

    svg {
      width: 45px;
      height: 45px;
    }
  }
}

.link-list {
  margin-top: 5px;

  a {
    --tsdelay: 250ms;
    z-index: 1;
    &::before {
      content: attr(aria-label);
      text-align: center;
      font-size: 5px;
      padding: 2px 4px;
      color: #fff;
      background: #000;
      transform: translateY(25px) scale(0);
      opacity: 0;
      transition:
        transform var(--tsdelay) ease,
        opacity var(--tsdelay) ease;
      text-decoration: none !important;
      z-index: -1;
    }

    &:hover {
      &::before {
        transform: translateY(-5px) scale(2);
        opacity: 1;
        transition:
          transform var(--tsdelay) ease,
          opacity var(--tsdelay) ease;
      }
    }
  }
}

.page-list {
  font-size: 20px;
  margin-top: 15px;

  a {
    font-weight: bold;
    background: $linkbg;
    padding: 5px 15px;
    width: 50%;
    &:hover {
      text-decoration: underline;
    }
  }
}

.info {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  position: relative;
  text-align: left;
  color: #eee;
  font-size: 12px;
  margin-top: 15px;
  left: -15px;
  width: calc(100% + 25px);

  div {
    margin: 2px 0;
    float: left;
    p {
      display: inline;
      a {
        text-decoration: underline !important;
      }
    }
  }
  span {
    float: right;
  }
}

@keyframes animIn {
  from {
    transform: scale(0.25);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: scale(1.15);
    opacity: 1;
    filter: blur(0);
  }
}