---
import BVideo from "../components/bVideo.astro";
import '../styles/blender.scss'

---

<div id="blender">
  <BVideo
    title={"Yo! uhh.."}
    src="invisy/BAAHHH.mp4"
    width="40%"
  />
  <BVideo
    title="Pran of Cingles"
    src="invisy/cingles.mp4"
    width="55%"
  />
  <BVideo
    title="Lip sync test with Fennix voice lines"
    src="invisy/fennix.mp4"
    width="40%"
  />
  <BVideo
    title="Nuts and bolts"
    src="invisy/countdown.mp4"
    width="55%"
  />
  <BVideo
    title="Ancient History"
    src="invisy/ancienthistory.mp4"
    width="55%"
  />
  <BVideo
    title="Car chase"
    src="misc/carchase.mp4"
    width="55%"
  />
  <div class="divider"></div>
  <div class="item">
    <video width="39%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_throwc.mp4" controls muted />
    <video width="39%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_throwp.mp4" controls muted />
  </div>
  <div class="item">
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_phone1.png" alt="m_phone1.png">
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_phone2.png" alt="m_phone2.png">
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_phone3.png" alt="m_phone3.png"><br>
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_string3.png" alt="m_string3.png">
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_string2.png" alt="m_string2.png">
    <img width="22%" src="https://cdn.invisyarcticfox.uk/work/mixamo/m_string1.png" alt="m_string1.png">
  </div>
</div>

<style>
  div#blender {
    text-align: center;
		width: calc(100vw - 25px);
		margin-left: 25px;
    margin-top: 15px;
	}
</style>