---
import '../styles/fn.scss';
import Bk from '../components/fn/Bk.astro'
import Fennix from '../components/fn/Fennix.astro'
import Lucien from '../components/fn/Lucien.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div id='cont'>
    <Bk />
    <Fennix />
    <Lucien />
  </div>
</Layout>