---
import SonaArt from "../components/SonaArt.astro";

const res = await fetch("https://api.invisyarcticfox.uk/sonaart");
const data = await res.json();
---

<div id="fursona">
	<div class="gallery">
		{
			data.map((item: { file: string; artist: string; artisturl: string }) => (
				<SonaArt
					imagePath={item.file}
					artist={item.artist}
					artisturl={item.artisturl}
				/>
			))
		}
	</div>
</div>

<style>
	h1 {
		padding-top: 50px;
	}
	#fursona {
		padding-top: 200px;
	}
</style>
