---
import { siSpotify } from "simple-icons";
import '../styles/index.scss'
---

<div id="spotify">
  <a href="#" target="_blank" rel="nooepner noreferrer">
    <svg viewBox="0 0 24 24">
      <path d={siSpotify.path} fill={`#${siSpotify.hex}`}/>
    </svg>
  </a>
</div>


<script src="../scripts/lanyard.js"></script>