---
import { ExternalLinkIcon } from 'astro-feather';
import '../styles/index/links.scss'

interface Props {
  head: string;
  links: {
    href: string;
    label: string;
    isExt?: boolean
  }[]
}

const { links, head } = Astro.props
---

<div id="links">
  <div class="head">{head}</div>
  {
    links.map((link) => {
      return (
        <div class="link">
          <a href={link.href} target={link.isExt ? '_blank' : undefined} rel="noopener noreferrer">
            {link.label}
            {link.isExt && <ExternalLinkIcon />}
          </a>
        </div>
      )
    })
  }
</div>