@use '../extras';


#social {
  display: flex;
  margin: 5px auto 10px;
  height: var(--sz);
  text-decoration: none;
  position: relative;
  top: -10px;

  a {
    display: inline-block;
    text-decoration: none;
    width: var(--sz);
    height: var(--sz);
    &::before {
      content: attr(data-socialname);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 5px;
      color: extras.$ctp-subtext1;
      background: extras.$ctp-mantle;
      padding: 2px;
      position: relative;
      display: block;
      opacity: 0;
      transform: scale(0) translateY(25px);
      @include extras.transition(opacity, transform);
    }
    &:hover {
      &::before {
        opacity: 1;
        transform: scale(2.5) translateY(-5px);
      }

      svg {
        transform: scale(1.25);
      }
    }

    svg {
      vertical-align: middle;
      transform: scale(1);
      @include extras.transition(transform);
    }
  }
}